server:
  port: 8081
plainKey: "hello-world"
spring:
  application:
    name: user-service
  config:
    import:
      - nacos:user-service.yaml
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml
